<h3 style="display:inline"><%= header %></h3>
<div style="padding-top:5px; padding-bottom:20px;"><%= title %></div>
<ul class="nav nav-tabs">
<li <%= friends %>><%= link_to "Friends", friends_url %></li>
<li <%= find_friends %>><%= link_to "Find Friends", find_friends_url %></li>
</ul>
<br><br>