<html lang="en" ng-app="inviteApp">
<% if @session == "invite_to_event" %>
	<body ng-controller="FriendListCtrl" ng-init="init_guestlist('bwm')">
<% elsif @session == "invite_outsider_to_event" %>
	<body ng-controller="FriendListCtrl" ng-init="init_guestlist('all')">
<% elsif @session == "invite_to_app" %>
	<body ng-controller="FriendListCtrl" ng-init="init_guestlist('outsiders')">
<%end%>

	<!-- javascript modified from Facebook API -->
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    // initialize facebook javascript sdk
	    FB.init({
	      appId      : '<%= ENV["APP_ID"] %>',                        // App ID from the app dashboard
	      channelUrl : '//'+ window.location.host +'/channel.html', // Channel file for x-domain comms

	      status     : true,                                 // Check Facebook Login status
	      xfbml      : true                                  // Look for social plugins on the page
	    });

	    // Additional initialization code such as adding Event Listeners goes here
	  };

	  // Load facebook SDK asynchronously
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- end javascript modified from Facebook API -->

	<% if @session == "invite_to_event" %>
		<%= render partial: "invite/index_invite_tabs", locals: {header:"Invite",title:"Invite Friends to Your Ride", find_friends:"",friends:"class=active",find_friends_url:outsider_to_event_invite_index_path(:event_id => params[:event_id]),friends_url:to_event_invite_index_path(:event_id => params[:event_id])} %>
	<% elsif @session == "invite_to_app" %>
		<%= render partial: "invite/index_invite_tabs", locals: {header:"Friends",title:"Invite Friends to Bike With Me", find_friends:"class=active",friends:"",find_friends_url:to_app_invite_index_path(:event_id => 0),friends_url:users_path} %>
	<% elsif @session == "invite_outsider_to_event" %>
		<%= render partial: "invite/index_invite_tabs", locals: {header:"Invite",title:"Invite Friends to Your Ride", find_friends:"class=active",friends:"",find_friends_url:outsider_to_event_invite_index_path(:event_id => params[:event_id]),friends_url:to_event_invite_index_path(:event_id => params[:event_id])} %>
	<% end %>
	<div class="container">
		<div class="row">
			Search Friends <span class="glyphicon glyphicon-search"></span>
			<input type="textfield" class="form-control" ng-model="query">
		</div><br \>
		<div class="row">
			<% if @session == "invite_to_event" %>
				<h3>Invite Friends to Your Ride</h3>
			<% elsif @session == "invite_to_app" %>
				<h3>Invite Facebook Friends to Bike With Me</h3>
			<% elsif @session == "invite_outsider_to_event" %>
				<h3>Invite Facebook Friends to Your Ride</h3>
			<% end %>
			<div ng-repeat="friend in guestlist | filter:query | orderBy:orderProp">
				<a href="#"class="compose_invite btn btn-md btn-default col-xs-12 col-sm-6 col-md-4" data-toggle="button" rel="nofollow" ng-click="addFriend(friend,'<%= ENV["BWM_INVITE_LINK"] %>');" id='href-{{friend.fb_uid}}'>
				<img class="pull-left img-circle" ng-src = "{{friend.image}}"> 
				<p class="pull-left" style="padding-left:6px;"> {{friend.name}}</p>
				<button id='invite-text-{{friend.fb_uid}}' class="pull-right"> Invite</button></a>
			</div>
		</div><!-- end rows -->
	</div><!-- end container -->
</body>
</html>