<%= form_for @event, :role => 'form', url: eventpost_update_details_path(@event.id), method: :put do |event| %> 
	<%= link_to "< Back", edit_eventpost_path(@event.id) %><br>
	Step 2/2 Time and Ride Details

	<%= render partial: "events/event_title", locals: { event:@event, form: event} %>

	<div class="form-group">
		<%= event.label :description %>
		<%= event.text_area :description, :class => 'form-control', :rows => '3', :placeholder => 'A fun ride. Come one, come all.', :value => @event.description %>
	</div><br>

	<%= render partial: "events/bicycle_ride_form", locals: { descriptors:@descriptors, event:@event, :selected => true } %>

	Date & Time:
	<input type="date" name='date' />
	<input type="time" name='time' />
	<p><%= event.check_box :is_private %> <b>Only my friends can see this ride.</b></p><br>
	<div>
		<%= event.submit "Publish Now", :class => "btn btn-primary btn-lg",:name => 'publish' %>
		<%= event.submit "Save For Later", :class => "btn btn-default btn-lg",:name => 'draft' %>
	</div><br> 
<% end %>
