<script>
	$(document).ready(function(){
		var map = new Map(<%= @event[:meeting_point][1] %>,<%= @event[:meeting_point][0] %>,true);
		var polyline = <%= @event.bicycle_ride.polyline %>;
		drawPolyline(polyline,map);
		subscribeToChanges(map);
	});
</script>

<h2 style="display:inline">Step 1/2 Modify Ride<br><br><%= @event.title %></h2><br><br>
<div id="map" class="map_half"></div>

<%= form_for @event, :role => 'form', url: {action: "update"} do |event| %>

	<input type='hidden' name='clone_id' value='<%= @event.id %>'>
	<input type='hidden' name='longitude' id='longitude' value='<%= @event.meeting_point[0] %>'>
	<input type='hidden' name='latitude' id='latitude' value='<%= @event.meeting_point[1] %>'>
	<input type='hidden' name='polyline' value='<%= @event.bicycle_ride.polyline %>'>

	<br>

	<%= render partial: "events/meeting_point_parts", locals: {event:event} %>

	<%= event.hidden_field :activity_id, :value => 1 %>

	<div><%= event.submit 'Next', :class => 'btn btn-primary btn-lg' %> <%= event.submit 'Cancel', :class => 'btn btn-default btn-lg', :name => 'cancel'%></div>
<% end %>

