<h3>Choose a Strava Ride or Create One From Scratch</h3>
Use a previous ride from your Strava profile as a starting point or create a new ride from scratch.<br><br>
<ul class="nav nav-tabs">
	<li class="active"><%= link_to "Use a Strava Ride", eventpost_index_path %></li>
	<li><%= link_to "Create a Custom Ride", new_event_path %></li>
</ul>

<table class='table table-hover'>
<tr><td style='border-top: 0px;'><%= paginate @events %></td></tr>
<% @events.each do |event| %>
	<tr><td id="edit-bar-<%= event.id %>">
		<h4 class='title-inline'><%= link_to event.title, edit_eventpost_path(event.id) %></h4>
		<div style='display:inline' id='distance-<%= event.id %>'></div> <div style='display:inline' id='sparkline-<%= event.id %>'></div>
	</td></tr>
	<script>
		$('#edit-bar-<%= event.id %>').click(function(){
		window.location = '<%= edit_event_path(event.id) %>';});
		<% if event.bicycle_ride.altitude %>
			$('#sparkline-<%= event.id %>').sparkline(<%= event.bicycle_ride.altitude %>, {height: '20',width:'100'});
			$('#sparkline-<%= event.id %>').before(' | ');
		<% end %>

		<% if event.bicycle_ride.distance %>
			$('#distance-<%= event.id %>').html('<b>Distance:</b> <%= event.bicycle_ride.distance %> miles');
		<% end %>
	</script>
<% end %>
<tr><td style='border-top: 0px;'><%= paginate @events %></td></tr>
</table>

