<h3>User</h3>
<%= image_tag(@user.image, size: "50x50", alt: @user.name) %><br>
<p>User: <%= @user.name %></p>
<p><%= link_to "Followers", user_followers_path(@user.id) %> <%= link_to "Following", user_following_path(@user.id) %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Bio: <%= @user.bio if @user.bio %></p>

<!--show friend list here hello-->
