<div class="container-fluid">
	<h3>Rides Near Me</h3>
	<%= paginate @event_data %>
	<div class="row">
		<div class="col-sm-4">
			<div id="map" class="map_full"></div><br><br>
		</div>
		<script>
			var map = new Map(false,false,false);
		</script>
		<div class="col-sm-8">
			<% @event_data.each do |data|%>
				<div class="cell" id="cell-<%= data[:event][:_id] %>">
					<%= render partial: "eventsearch/buttons_join_watch", locals: { title:data[:event][:title], id:data[:event][:_id], user:data[:event][:user], watched:data[:watched], joined:data[:joined]} %>
					<%= render partial: "eventsearch/bicycle_ride_profile", locals: { profile:data[:bicycle_ride], descriptors:@descriptors, id: data[:event][:_id]} %>
					<script>
						var content = "<a href='<%= event_path(data[:event][:_id]) %>'><%= data[:event][:title] %></a>";
						var marker_index = map.append(<%= data[:event][:meeting_point][1] %>,<%= data[:event][:meeting_point][0] %>,content);
						$('#cell-<%= data[:event][:_id] %>').mouseenter({index:marker_index},function(event){
							var index = event.data.index;
							map.markers[index].setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
						});

						$('#cell-<%= data[:event][:_id] %>').mouseleave({index:marker_index},function(event){
							var index = event.data.index;
							map.markers[index].setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
						});
					</script>
				</div><br>
			<% end %>
			<script>
				map.fitBounds();
			</script>
		</div><!-- end of cells -->
	</div>
</div><!-- end of container -->