<h3 style="display:inline">My Rides</h3>
<div style="padding-top:5px; padding-bottom:20px;">Edit rides that are active (those that are posted or in draft mode). Create new rides using past rides.</div>
<ul class="nav nav-tabs">
<li <%= active %>><%= link_to "Active Rides", events_path %></li>
<li <%= past_rides %>><%= link_to "Past Rides", past_rides_events_path %></li>
<li <%= drafts %>><%= link_to "Drafts", drafts_events_path %></li>
</ul>
<br><br>