<%= render partial: "events/index_my_rides_tabs", locals: { active:"",past_rides:"",drafts:"class=active" } %>
<table class='table table-hover'>
<tr><td style='border-top: 0px; visibility: hidden;' >	
<%= render partial: "events/paginate_events", locals: { event_data:@events } %></td></tr>
<% @events.each do |event| %>
	<tr id = 'tr-<%= event.id %>'>
		<td id="edit-bar-<%= event.id %>">
			<h4 class='title-inline'><%= link_to event.title, event_path(event.id) %> 
			<% if !event.is_private %>
				<span class="glyphicon glyphicon-globe"></span></h4>
			<% else %>
				</h4>
			<% end %>
			<% time = event.updated_at %>
			<i><b><%= event.publishing_status %></b></i> Last Modified: <i><%= readable_time(time, 1) %></i>
		</td>
		<%= render partial: "event_edit_td", locals: { event_id:event.id } %>
		<td class='td_bar danger'>
			<a href='#!' title="Delete Event" class='icon-lg' id = 'delete-<%= event.id %>'><span class="glyphicon glyphicon-remove"></span></a>
			<%= render partial: "event_delete_fade", locals: { event:event } %>
		</td>
	</tr>
<% end %>
<tr><td style='border-top: 0px; visibility: hidden;'>	
<%= render partial: "events/paginate_events", locals: { event_data:@events } %></td></tr>
</table>
