<script>
	$(document).ready(function(){
		var map = new Map(<%= @event[:meeting_point][1] %>,<%= @event[:meeting_point][0] %>,true);
		var polyline = <%= @event.bicycle_ride.polyline %>;
		drawPolyline(polyline,map);
		subscribeToChanges(map);
	});
</script>

<h2 style="display:inline"><%= @event.title %></h2><br><br>
<div id="map" class="map_half"></div><br>

<%= form_for @event, :role => 'form', url: {action: "update"} do |event| %>

	<%= event.label :meeting_point, 'Meeting Point:' %><br />
	<div class="form-group">
		<div class="input-group">
			<%= event.text_field :address, :class => 'form-control',:style => 'border-right:none', :id => 'event_address' %>
			<span id="clear_text" class="blah input-group-addon glyphicon glyphicon-remove" style="background-color:#fff;border-left:0px;"></span>
			<span id="search_for_address" class="btn-primary input-group-addon glyphicon glyphicon-search" style="background-color:#428bca;color:#fff;"></span>
		</div>
	</div><br>

	<div class="form-group">
		<%= event.label :title %>
		<%= event.text_field :title, :class => 'form-control' %>
	</div><br>

	<% if @event.event_date %>
	<div class="form-group">
		<%= event.label :event_date, 'Date & Time' %><br>
		<%= select_datetime @event.event_date, { prefix: :event_date, ampm: true, start_year: @event.event_date.year, end_year: Time.now.year + 1, order: [:day, :month, :year]} , {:class => 'form-control'} %>
	</div><br>
	<% end %>
	
	<div class="form-group">
		<%= event.label :description %>
		<%= event.text_area :description, :class => 'form-control', :rows => '3', :placeholder => 'A fun ride. Come one, come all.' %>
	</div><br>

	<%= event.hidden_field :activity_id, :value => 1 %>
	<input type='hidden' name='longitude' id='longitude' value='<%= @event[:meeting_point][0] %>'>
	<input type='hidden' name='latitude' id='latitude' value='<%= @event[:meeting_point][1] %>'>


<%= render partial: "bicycle_ride_form", locals: { descriptors:@descriptors, event:@event, :selected => true } %>

	<p><%= event.check_box :is_private, {checked: @event.is_private} %> <b>This event is private.</b></p><br>

	<div class="form-group">
		<%= event.label :publishing_status %>
		<%= event.select :publishing_status, [['Publish',"published"],['Draft',"draft"]], {}, :class => 'form-control', :selected => @event.publishing_status, :id => 'publishing_status', :name => 'publishing_status' %>
	</div>

	<div>
		<%= event.submit "Update Event", :class => "btn btn-warning btn-lg" %>
		<a href='#!' class='btn btn-danger btn-lg' id = '<%= 'delete-' + 
		@event.id %>'>Delete <span class="glyphicon glyphicon-remove"></span></a>
		<%= event.submit 'Cancel', :class => 'btn btn-default btn-lg', :name => 'cancel'%>
	</div>
<% end %>
<%= render partial: "event_delete", locals: { event:@event, redirect:drafts_events_url() } %>
<script>
	$('#clear_text').click(function(event){
		$('#event_address').val('');
	});

	$('#search_for_address').click(function(event){
		var temp = $('#event_address').val();
		if(!isBlank(temp) && !isEmpty(temp))
			geocodeAddress(temp);
	});
</script>

