<script>
$(document).ready(function(){
	// if a position was obtained, save it
	// otherwise, ignore; ask user for city and state at the next opportunity: eventsearch#index
	var save_geolocation_url = '<%= save_geolocation_events_url() %>';
	saveTimeZoneOffset('<%= save_timezone_offset_events_url() %>');
	getGeolocationFromBrowser();
	$(document).on("geolocation_ready",function(event,geolocation){
		if(geolocation && save_geolocation_url != ''){
			setGeolocation(save_geolocation_url,geolocation.coords.latitude,geolocation.coords.longitude);
		} else {
			setGeolocation(save_geolocation_url,false,false);
		}
	 });
});
</script>
<style>
	html { 
		background: url(../images/home.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; 
		background-color: #fff;
	}

	body { background: rgba(0,0,0,0); }

	@media all and (max-width:768px) {
		html { background: url(../images/home_tablet.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; 
		background-color: #fff;}
	}

	@media all and (max-width:640px) {
		html { background: url(../images/home_mobile.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; 
		background-color: #fff;}
	}
</style>

<div style='display:table; position:absolute; height:90%; width:100%;'>
	<div style='display: table-cell; vertical-align: middle;'>
	<div style='width:300px; margin-left:auto; margin-right:auto;'>
	<%=link_to 'Find Ride', eventsearch_index_path, :class => 'btn btn-default btn-lg btn-block' %>
	<% if (defined? current_user.strava_uid) && !current_user.strava_uid.blank? %>
	<%=link_to 'Post Ride', eventpost_index_path, :class => 'btn btn-default btn-lg btn-block' %>
	<% else %>
	<%=link_to 'Post Ride', new_event_path, :class => 'btn btn-default btn-lg btn-block' %>
	<% end %>
	</div>
	</div>
</div>
