<h3 style="display:inline">My Rides</h3>
<div style="padding-top:5px; padding-bottom:20px;">Edit rides that are active (those that are posted or in draft mode). Create new rides using past rides.</div>
<ul class="nav nav-tabs">
<li class="active"><%= link_to "Active Rides", events_path %></li>
<li><%= link_to "Past Rides", past_rides_events_path %></li>
<li><%= link_to "Drafts", drafts_events_path %></li>
</ul>
<br><br>

<table class='table table-hover'>
<tr><td style='border-top: 0px;'>	
<%= render partial: "events/paginate_events", locals: { event_data:@events } %>
</td></tr>
<% @events.each do |event| %>
	<tr id='tr-<%= event.id %>'>
		<td id='edit-bar-<%= event.id %>'>
			<h4 class='title-inline'><%= link_to event.title, event_path(event.id) %> 
			<% if !event.is_private %>
				<span class="glyphicon glyphicon-globe"></span></h4>
			<% else %>
				</h4>
			<% end %>
			<b>Event Starts On:</b> <i><%= readable_time(event.event_date) %></i>
		</td>
		<td class='td_bar danger'>
			<a href='#!' class='icon-lg' id = '<%= 'delete-' + event.id %>'><span class="glyphicon glyphicon-remove"></span></a>
			<%= render partial: "event_delete_fade", locals: { event:event } %>
		</td>
	</tr>
<% end %>
<tr><td style='border-top: 0px;'>	
<%= render partial: "events/paginate_events", locals: { event_data:@events } %>
</td></tr>
</table>
