<ul class="nav nav-tabs">
<li class="active"><%= link_to "My Rides", events_path %></li>
</ul>
<br><br>

<%= paginate @events %>
<table class='table table-hover'>
<% @events.each do |event| %>
	<tr><td>
		<h4 class='title-inline'><%= link_to event.title, event_path(event.id) %> 
		<% if !event.is_private %>
			<span class="glyphicon glyphicon-globe"></span></h4>
		<% else %>
			</h4>
		<% end %>
		<i><b><%= event.publishing_status %></b></i> Last Modified: <%= event.updated_at.strftime("%A %B %d %Y %H:%M%p") %>
	</td><td class='td_bar warning'>
		<%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'),edit_event_path(event.id), :class => 'icon-lg' %>
	</td><td class='td_bar danger'>
		<a href='#!' class='icon-lg' id = '<%= 'delete-' + event.id %>'><span class="glyphicon glyphicon-remove"></span></a>
		<script>
			$('<%= '#delete-' + event.id %>').click(
				function (event){
					alertify.confirm("Remove Ride <i><%= event.title %></i>?", 
						function (event) {
						    if (event) { // redirect to delete page
						        $.ajax({
						        	url: '<%= event_path(event.id) %>',
						        	type: 'DELETE',
						        });
						    }
						}
					);
				}
			);
		</script>
	</td></tr>
<% end %>
</table>