<script>
	$(document).ready(function(){
		var map = new Map(<%= @session[1] %>,<%= @session[0] %>,true);
		subscribeToChanges(map)
		geocodeLatlng(map.lat,map.lng);
	});
</script>

<h3 style="display:inline;">Choose a Strava Ride or Create One From Scratch</h3>
<div style="padding-top:5px; padding-bottom:20px;">Use a previous ride from your Strava profile as a starting point or create a new ride from scratch.</div>
<ul class="nav nav-tabs">
	<li><%= link_to "Use a Strava Ride", eventpost_index_path %></li>
	<li class="active"><%= link_to "Create a Custom Ride", new_event_path %></li>
</ul>
<br><br>
<div id="map" class="map_half"></div><br>

<!-- backend request to our db -->
<%= form_for @event, url: {action: "create"}, html: {role: "form"} do |event| %>
	<%= render partial: "meeting_point_parts", locals: {event:event} %>

	<div class="form-group"><%= event.label :title %><br />
	<%= event.text_field :title, :placeholder => "SF=>Marin, Headlands Loop", :class => 'form-control'%></div><br>

	<div class="form-group"><%= event.label 'Meeting Date & Time' %><br /><%= select_datetime Time.now, {prefix: :event_date, ampm: true, start_year: Time.now.year, end_year: Time.now.year + 1, order: [:day, :month, :year] }, {:class => 'form-control'}%></div><br>
	
	<div class="form-group"><%= event.label :description %><br />
	<%= event.text_area :description, :placeholder => 'A fun ride. Come one, come all.', :class => 'form-control',:rows=>5 %></div><br>

	<%= event.hidden_field :activity_id, :value =>1 %>
	<input type=hidden name=longitude id=longitude>
	<input type=hidden name=latitude id=latitude>

	<%= render partial: "bicycle_ride_form", locals: { descriptors: @descriptors, event:@event, :selected => false} %>

	<p><%= event.check_box :is_private %> <b>Make this event private?</b></p><br><br>
	<div>
		<%= event.submit "Publish Now", :class => "btn btn-primary btn-lg",:name => 'publish' %>
		<%= event.submit "Save For Later", :class => "btn btn-default btn-lg",:name => 'draft' %>
	</div><br>
<% end %>

