<script>
	geolocate();
</script>
<ul class="nav nav-tabs">
<li><%= link_to "My Events", events_path %></li>
<li class="active"><%= link_to "Add Custom Event", new_event_path %></li>
</ul>
<br><br>
<div id="map" class="map_half"></div><br>
<!-- type address here -->
<form class='form-group' role='form' id='geocoding_form'>
	<div class="form-group">
		<label>Use a different location</label>
		<input type='textfield' id='address' class='form-control'>
		<input type='submit'>
	</div>
</form><br>

<!-- backend request to our db -->
<%= form_for @event, url: {action: "create"}, html: {class: "new_event_form"} do |event| %>
	<div class="form-group"><%= event.label :title %><br />
	<%= event.text_field :title, :placeholder => "SF=>Marin, Headlands Loop", :class => 'form-control'%></div><br>

	<div class="form-group"><%= event.label :meeting_point %><br />
	<%= event.text_field :meeting_point, :class => 'form-control'%></div><br>

	<div class="form-group"><%= event.label 'Meeting Date & Time' %><br /><%= select_datetime Time.now, {prefix: :event_date, ampm: true, start_year: Time.now.year, end_year: Time.now.year + 1, order: [:day, :month, :year] }, {:class => 'form-control'}%></div><br>
	
	<div class="form-group"><%= event.label :description %><br />
	<%= event.text_area :description, :placeholder => 'A fun ride. Come one, come all.', :class => 'form-control',:rows=>5 %></div><br>

	<%= event.hidden_field :activity_id, :value =>1 %>
	<input type=hidden name=longitude id=longitude>
	<input type=hidden name=latitude id=latitude>
	
	<%= fields_for :bicycle_ride do |bicycle_ride_form| %>		
			<div class="form-group"><%= bicycle_ride_form.label :distance %><br />
			<%= bicycle_ride_form.text_field :distance, :placeholder => 'Miles', :class => 'form-control' %></div><br>

			<div class="form-group"><%= bicycle_ride_form.label :pace %><br>
			<%= bicycle_ride_form.select :pace, @descriptors["pace"], {}, { :class => 'form-control' } %></div>

			<p><%= bicycle_ride_form.label :terrain %><br />
			<%= bicycle_ride_form.select :terrain, @descriptors["terrain"], {}, { :class => 'form-control' }%></p>
			
			<p><%= bicycle_ride_form.label :road_type %><br />
			<%= bicycle_ride_form.select:road_type, @descriptors["road_type"], {}, { :class => 'form-control' } %></p>
		<% end%>

	<p><%= event.check_box :is_private %> <b>Make this event private?</b></p><br><br>
	<div><%= event.submit "Add Event", :class => "btn btn-primary btn-lg"  %></div>
<% end %>


