<script>
	$(document).ready(function(){
		var map = new Map(<%= @session[1] %>,<%= @session[0] %>,true);
		<% if @session[1] != 0 && @session[0] != 0 %>
			subscribeToChanges(map)
			geocodeLatlng(map.lat,map.lng);
		<% end %>
	});
</script>

<h3 style="display:inline;">Choose a Strava Ride or Create One From Scratch</h3>
<div style="padding-top:5px; padding-bottom:20px;">Use a previous ride from your Strava profile as a starting point or create a new ride from scratch.</div>
<ul class="nav nav-tabs">
	<li><%= link_to "Use a Strava Ride", eventpost_index_path %></li>
	<li class="active"><%= link_to "Create a Custom Ride", new_event_path %></li>
</ul>
<br><br>
<div id="map" class="map_half"></div><br>

<!-- backend request to our db -->
<%= form_for @event, html: {role: "form", "data-parsley-validate" => ""} do |event| %>
	<%= render partial: "meeting_point_parts", locals: {event:event} %>

	<%= render partial: "events/event_title", locals: { event:@event, form: event} %>

	<%= render partial: "event_date_time" %>
	
	<div class="form-group"><%= event.label :description %><br />
	<%= event.text_area :description, :placeholder => 'A fun ride. Come one, come all.', :class => 'form-control',:rows=>5, "data-parsley-length"=>"[0, 100]", "data-parsley-trigger"=>"keyup" %></div><br>

	<input type='hidden' name='activity_id', value=<%= Event::BICYCLE_RIDE %>>
	<input type='hidden' name='longitude' id='longitude'>
	<input type='hidden' name='latitude' id='latitude'>
	<input type='hidden' name="id" value="<%= @event.id %>">

	<%= render partial: "bicycle_ride_form", locals: { descriptors: @descriptors, event:@event, :selected => false} %>

	<p><%= event.check_box :is_private %> <b>Make this event private?</b></p><br><br>
	<div>
		<%= event.submit "Publish Now", :class => "btn btn-primary btn-lg",:name => 'publish' %>
		<%= event.submit "Save For Later", :class => "btn btn-default btn-lg",:name => 'draft' %>
		<%=form_for @event do |cancel| %>
			<%= cancel.submit 'Cancel', :class => 'btn btn-default btn-lg', :name => 'destroy'%>
		<% end %>
	</div>
<% end %>


