<script>
	$(document).ready(function(){ 
		geolocate();
	});
</script>

<h2>Add Location of New Event</h2>
<div id="geocoding_div"></div>
<div id="map"></div>
<a name="form"></a>
<!-- backend request to our db -->
<%= form_for @event, url: {action: "create"}, html: {class: "new_event_form"} do |event| %>
	<p><%= event.label :title %><br />
	<%= event.text_field :title, :placeholder => "SF=>Marin, Headlands Loop" %></p>

	<p><%= event.label :meeting_point %><br />
	<%= event.text_field :meeting_point%></p>

	<p><%= event.label :description %><br />
	<%= event.text_area :description, :placeholder => 'World-class scenic ride across the San Francisco Bay. It doesn\'t get better than this' %></p>
	<%= event.hidden_field :activity, :value =>1 %>
	<input type=hidden name=longitude id=longitude>
	<input type=hidden name=latitude id=latitude>
	  <%= fields_for :bicycle_ride do |bicycle_ride_form| %>
		
		<p><%= bicycle_ride_form.label :distance %><br />
		<%= bicycle_ride_form.text_field :distance, :placeholder => 'Miles'%></p>

		<p><%= bicycle_ride_form.label :pace %><br />
		<%= bicycle_ride_form.select(:pace, BicycleRide::PACE) %></p>
		
		<p><%= bicycle_ride_form.label :terrain %><br />
		<%= bicycle_ride_form.select(:terrain, BicycleRide::TERRAIN) %></p>
		
		<p><%= bicycle_ride_form.label :road_type %><br />
		<%= bicycle_ride_form.select(:road_type, BicycleRide::ROAD_TYPE) %></p>
		
	  <% end %>

	<div><%= event.submit "Add Event" %></div>
<% end %>


