<h3>My Rides</h3>
Edit rides that are active (those that were published or in draft mode). Create new rides using past rides.<br><br>
<ul class="nav nav-tabs">
<li><%= link_to "Active Rides", events_path %></li>
<li class="active"><%= link_to "Past Rides", past_rides_events_path %></li>
<li><%= link_to "Drafts", drafts_events_path %></li>
</ul>
<br><br>

<table class='table table-hover'>
<tr><td style='border-top: 0px;'><%= paginate @events %></td></tr>
<% @events.each do |event| %>
	<tr id = 'tr-<%= event.id %>'>
		<td id="edit-bar-<%= event.id %>">
			<h4 class='title-inline'><%= link_to event.title, event_path(event.id) %> 
			<% if !event.is_private %>
				<span class="glyphicon glyphicon-globe"></span></h4>
			<% else %></h4><% end %>
			<b>Event Occurred:</b> <i><%= readable_time(event.event_date) %></i>
		</td>
		<td class='td_bar danger'>
			<a href='#!' class='icon-lg' id = '<%= 'delete-' + event.id %>'><span class="glyphicon glyphicon-remove"></span></a>
			<%= render partial: "event_delete_fade", locals: { event:event } %>
		</td>
	</tr>
<% end %>
<tr><td style='border-top: 0px;'><%= paginate @events %></td></tr>
</table>
