<script>
	$(document).ready(function(){
		var map = new Map(<%= @event[:meeting_point][1] %>,<%= @event[:meeting_point][0] %>,false);
		var polyline = <%= @event.bicycle_ride.polyline %>; 
		drawPolyline(polyline,map)
	});
</script>

<span>
	<h4 class="eventsearch-index-h4"><%= link_to @event.title, event_url(@event.id) %>
		<% if @event.user == current_user %>
			<%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'),edit_event_path(@event.id) %>
		<% end %>
	</h4>
	<%= render partial: "eventsearch/buttons_join_watch", locals: {id:@event.id, watched:@watched, joined:@joined} %>
</span><br><br>

<div id="map" class="map_half"></div><br>
<div>
	<ul class="list-group">
		<li class="list-group-item">
		<p><b>Joined:</b>
		<% if @event.user == current_user && @event.joiners_count_by_type("user") != 0 %>
			 <% @event.all_joiners.each do |joiner| %>
					<%= joiner.name %> 
			<% end %> 
		<% else %>
			No riders yet </p>
			</li>
		<% end %>

		<% if @event.bicycle_ride.pace == nil %>
			<% pace_val = "" %>
		<% else %>
			<% pace_val = @descriptors["pace"][@event.bicycle_ride.pace][0] %>
		<% end %>

		<% if @event.bicycle_ride.terrain == nil %>
			<% terrain_val = "" %>
		<% else %>
			<% terrain_val = @descriptors["terrain"][@event.bicycle_ride.terrain][0] %>
		<% end %>

		<% if @event.bicycle_ride.road_type == nil %>
			<% road_type_val = "" %>
		<% else %>
			<% road_type_val = @descriptors["road_type"][@event.bicycle_ride.road_type][0] %>
		<% end %>

		<% pairs = [['When',@event.event_date.strftime("%A %B %d %Y, %l:%M%p")],['Meeting Point',@event.address],['Description',@event.description],['Distance',@event.bicycle_ride.distance],['Pace',pace_val],['Terrain',terrain_val],['Road Type',road_type_val],['Total Elevation Gain',@event.bicycle_ride.total_elevation_gain],['Publishing Status',@event.publishing_status]] %>

		<% pairs.each do |title,value| %>
			<li class="list-group-item">
			<p><b><%= title %>:</b> <%= value %></p>
			</li>
		<% end %>

		<li class="list-group-item">
			<p><b>Privacy:</b> This Event is 
			<% if @event.is_private %>
				Private
			<% else %>
				Public
			<% end %></p>
		</li>
	</ul>
	<% if @event.user == current_user %>
		<%= link_to raw('Edit <span class="glyphicon glyphicon-edit"></span>'),edit_event_path(@event.id), :class => "btn btn-primary btn-lg" %>
	<% end %>
</div>