
<header class="nav navbar-inverse navbar-fixed-top bs-docs-nav" role=navigation>
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Bike With Me", root_path, :class => 'navbar-brand' %>
        <% if user_signed_in? %>
          <p class="navbar-text pull-right">
          <%= link_to raw('<span class="glyphicon glyphicon-plus-sign"></span>'),new_event_path %> &nbsp;
          <%= link_to current_user.name, user_status_feed_path(current_user.id) %> &nbsp;
          </p>
        <% end %>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <li>
            <%= link_to 'My Profile', user_path(current_user.id) %>
            </li>
            <li>
            <%= link_to 'My Rides', events_path %>
            </li>
            <li>
            <%= link_to 'Find Friends', user_find_friends_path(current_user.id) %>
            </li>
            <li>
            <%= link_to 'Status Feed', user_status_feed_path(current_user.id) %>
            </li>
            <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
            </li>
          <% else %>
            <li>
            <%= link_to 'Login', new_user_session_path %>
            </li>
            <li>
            <%= link_to 'Sign up', new_user_registration_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
