<!DOCTYPE html>
<html>
  <head>
    <!-- Meta, Title, CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bike With Me" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bike With Me" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%#= javascript_include_tag "application" %>
    <%= render 'layouts/javascripts' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="container" class="container">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
